header{
    background-color: blue;
    color: white;
}

.container{
    background-color: lightgray;
    color: black
}

p{
    color: red;
}

.highlight{ color: green;}

.main-content {background-color: yellow}

p{ text-align: center;}

a{ text-decoration:none;}

h1,h2,h3,h4,h5,h6 {text-decoration: underline dashes;}

